<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3 align="center">Login</h3>

    <form #f="ngForm">
      <div class="form-group">
        <label for="login"> <b>Username:</b></label>
        <input type="text"
               [(ngModel)]="login"
               placeholder="Enter username"
               name="login"
               class="form-control"
               id="login"
               required minlength="2"
               #loginv="ngModel">
        <div [hidden]="loginv.valid || loginv.untouched" class="alert alert-danger">
          <div *ngIf="loginv.errors">
            <div *ngIf="loginv.errors.required">
              It is required.
            </div>
            <div *ngIf="loginv.errors.minlength">
              Name must be at least 2 characters long.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password"><b>Password:</b></label>
        <input type="password"
               [(ngModel)]="password"
               name="password"
               class="form-control"
               id="password"
               placeholder="Enter password"
               required minlength="2"
               #passwordv="ngModel">
        <div [hidden]="passwordv.valid || passwordv.untouched" class="alert alert-danger">
          <div *ngIf="passwordv.errors">
            <div *ngIf="passwordv.errors.required">
              It is required.
            </div>
            <div *ngIf="passwordv.errors.minlength">
              Name must be at least 2 characters long.
            </div>
          </div>
        </div>
      </div>

      <button style="background-color: #ffd2db; border-color: #fff1fd; color: #6c6c6c" type="submit" [disabled]="loginv.invalid || passwordv.invalid || f.disabled" (click)="onSubmit(f)"
              class="btn btn-primary submit">Login <i class="fas fa-sign-in-alt"></i></button>
    </form>

    <div *ngIf="done">
      <div>{{answer}}</div>
    </div>
  </div>
</div>

