<div id="main">

  <div id="info">
    <p><b>You have entered the page with the status "JUDGE"</b></p>
    If new hearings appear, they are displayed to you when you click on the button below.
    A new hearing means that after conducting a forensic examination, you should enter data
    on the mental state of health of the suspects.

    <br><br><p>If at the end of the hearing there are offenders in the case,
    you should fill in the type of crime</p>

  </div>
  <!--button-->
  <div id="button"><input (click)="courts_click()" class="main_button" type="submit" name="button" value="New courts hearing"></div>

</div>
