<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Registration</h3>
    <form #f="ngForm">
      <div class="form-group">
        <label for="login">Username</label>
        <input type="text"
               [(ngModel)]="login"
               name="login"
               class="form-control"
               id="login"
               placeholder="Enter username"
               required minlength="2"
               #loginv="ngModel">
        <div [hidden]="loginv.valid || loginv.untouched" class="alert alert-danger">
          <div *ngIf="loginv.errors">
            <div *ngIf="loginv.errors.required">
              It is required.
            </div>
            <div *ngIf="loginv.errors.minlength">
              Name must be at least 2 characters long.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               [(ngModel)]="password"
               name="password"
               class="form-control"
               id="password"
               placeholder="Password"
               required minlength="2"
               #passwordv="ngModel">
        <div [hidden]="passwordv.valid || passwordv.untouched" class="alert alert-danger">
          <div *ngIf="passwordv.errors">
            <div *ngIf="passwordv.errors.required">
              It is required.
            </div>
            <div *ngIf="passwordv.errors.minlength">
              Name must be at least 2 characters long.
            </div>
          </div>
        </div>
      </div>


      <button type="submit" [disabled]="loginv.invalid || passwordv.invalid || f.disabled" (click)="onSubmit(f)"
              class="btn btn-primary">Create<i class="fas fa-sign-in-alt"></i></button>
    </form>


    <div *ngIf="done">
      <div>{{answer}}</div>
    </div>
  </div>
</div>
