<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3 align="center">Registration</h3>
    <div class="border" align="center">
      Please fill in the information below to create your account.
    </div>

    <form #f="ngForm">
      <div class="form-group">
        <label for="login"><b>Username:</b></label>
        <input type="text"
               [(ngModel)]="login"
               name="login"
               class="form-control"
               id="login"
               placeholder="Enter username"
               required minlength="2"
               #loginv="ngModel">
        <div [hidden]="loginv.valid || loginv.untouched" class="alert alert-danger">
          <div *ngIf="loginv.errors">
            <div *ngIf="loginv.errors.required">
              It is required.
            </div>
            <div *ngIf="loginv.errors.minlength">
              Name must be at least 2 characters long.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password"><b>Password:</b></label>
        <input type="password"
               [(ngModel)]="password"
               name="password"
               class="form-control"
               id="password"
               placeholder="Enter password"
               required minlength="2"
               #passwordv="ngModel">
        <div [hidden]="passwordv.valid || passwordv.untouched" class="alert alert-danger">
          <div *ngIf="passwordv.errors">
            <div *ngIf="passwordv.errors.required">
              It is required.
            </div>
            <div *ngIf="passwordv.errors.minlength">
              Name must be at least 2 characters long.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password2"><b>Repeat password:</b></label>
        <input type="password"
               [(ngModel)]="password2"
               name="password2"
               class="form-control"
               id="password2"
               placeholder="Repeat password"
               required minlength="2"
               #password1="ngModel">
        <div [hidden]="(password1.valid || password1.untouched) && password == password2" class="alert alert-danger">
          <div *ngIf="password != password2">
            Passwords should be the same.
          </div>

          <div *ngIf="password1.errors">
            <div *ngIf="password1.errors.required">
              It is required.
            </div>
            <div *ngIf="password1.errors.minlength">
              Name must be at least 2 characters long.
            </div>
          </div>
        </div>
      </div>

      <label for="roleId"><b>Role:</b></label>
      <td id="roleId"><select name="mentally_disturbed" [(ngModel)]="roleId" >
        <option value="1" selected>scientist</option>
        <option value="2">judge</option>
        <option value="3">policeman</option>
      </select></td>

      <div class="form-group">
        <label for="login"><b>If you have an id:</b></label>
        <input type="number"
               [(ngModel)]="id"
               name="id"
               class="form-control"
               id="id"
               placeholder="Enter id"
               >
      </div>

      <button style="background-color: #ffd2db; border-color: #fff1fd; color: #6c6c6c" type="submit" [disabled]="loginv.invalid || passwordv.invalid || f.disabled || (password != password2)" (click)="onSubmit(f)"
              class="btn btn-primary submit">Create<i class="fas fa-sign-in-alt"></i></button>
    </form>


    <div *ngIf="done">
      <div>{{answer}}</div>
    </div>
  </div>
</div>
