

$mobile: 0;
$tablet: 737px;
$desktop: 1247px;

@mixin shrink-limit($width) {
  min-width: $width;
  flex-basis: $width;
}

ul {
  margin: 0.5rem -0.25rem;
  justify-content: stretch;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.submit {
  margin: 1rem 0rem 0.5rem;
}

.form-group {
  margin: 1rem 0rem 0.5rem;
}

.border {
  font-family:  monospace;
  border-radius: 30px;
  background-color: #fff;
  text-align: center;
}

.wrapper > * {
  margin: 0 0.25rem 0.5rem;
}

router-outlet {
  margin: 0 0.50rem 1rem;
}

// Desktop
@media screen and (min-width: $desktop) {
  #checkForm {
    flex-grow: 1;
  }
  #header {
    margin-left: auto;
    margin-right: auto;
    background: #fff;
  }
  .border {
    margin-left: auto;
    margin-right: auto;
  }
}
// Tablet
@media screen and (min-width: $tablet) and (max-width: $desktop) {
  #header {
    flex-basis: 100%;
  }
  #header {
    margin-left: auto;
    margin-right: auto;
    background: #7deeff;
  }
  .mt-4 {
    margin-top: 5rem!important;
  }
}

@media (min-width: $tablet){
  .offset-md-3 {
    margin-left: 25%;
  }
  .border {
    margin-left: 10%;
    margin-right: 10%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media screen and (max-width: $tablet) {
  .offset-md-3 {
    margin-left: 15%;
  }
  .border {
    margin-left: 10%;
    margin-right: 10%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .mt-4 {
    margin-top: 5rem!important;
  }
}

.p-toolbar-group-right > * {
  margin-left: 0.4rem
}
