<div class="body">
  <div id="main">
  <!--button mat-button (click)="openDialog()">Open dialog</button!-->

  <!--buttons-->
  <div id="people"><a (click)="get_people()" class="main_button" type="submit" name="button">People</a></div>
  <div id="seers"><input (click)="seers_click()" class="main_button" type="submit" name="button" value="Seers"></div>
  <div id="suspect_victim"><input (click)="suspect_victim_click()" class="main_button" type="submit"  name="button" value="Add suspect_victim"></div>

</div>
  <div id="info">
    <p><b>You have entered the page with the status "SCIENTIST"</b></p>
    When new visions appear, you should first fill in the data
    about the visions themselves, then about the participants
    of each vision (suspects and victims)
  </div>
  <div class="after_main">

    <h1><b>Adding visions</b></h1>
  <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
        <tr>
          <th>seer.id</th>
          <th>date of vision</th>
          <th>description</th>
        </tr>
        </thead>
      </table>
  </div>
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>

          <tr *ngFor="let vision of visionList">
            <td><b>{{vision.seer_id}}</b></td>
              <td> <input  type="text" required minlength="1" id="date_of_vision" name="date_of_vision" [(ngModel)]="vision.date_of_vision">
              </td>
              <td><input type="text" required minlength="1" id="description" name="description"  [(ngModel)]="vision.description"></td>

          </tbody>
        </table>
      </div>

    <div class="text">
      <p> *Date format: 2020-09-13 </p>
    </div>


    <div *ngIf="dateIncorrect">
      <div>{{answerDate}}</div>
      <div>{{answerDescription}}</div>
    </div>


    <div id="area_submit">
      <div class="add_button">
        <input type="submit" [disabled]="visionsExist" (click)="addVisions()" class="main_button" name="button" value="ADD">
      </div>
    </div>
  </div>
</div>
