<div id="main">

  <form>

    <!--person id-->
    <section>
      <p>Person_id:</p>
      <input id="text" type="text" name="date"></input><br>
    </section>

    <!--vision description-->
    <section id="main_section">
      <p>Weapon:</p>
      <select name="select" class="description">
        <option selected value="s0">-</option>
        <option value="s1">firearm</option>
        <option value="s2">cold_steel</option>
        <option value="s3">household_objects</option>
        <option value="s4">accidental_weapon</option>
        <option value="s5">poison</option>
        <option value="s6">air_shutoff</option>
        <option value="s7">temperature</option>
        <option value="s8">electric_current</option>
        <option value="s9">environment</option>
        <option value="s10">vehicle</option>
        <option value="s11">explosive</option>
      </select>
    </section>
  </form>

  <!--submitting-->
  <p><input id="button" class="form_button" type="submit" name="button" value="add suspect" (click)="on_click()"></p>

</div>
