#main {
  padding: 40px;
  margin: 30px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  background: #ffffff;
  border-radius: 20px;

}

#main div{
  justify-self: center;
}

.main_button{
  color:#202125;
  padding: 10px 20px;
  width:100px;
  text-decoration:none;
  text-align:center;
  margin:20px auto;
  display: block;
  background-image: linear-gradient(to left,transparent,transparent 50%,#87CEFA 50%,#DDA0DD);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
  border: none;
  border-radius: 10px;
}
.main_button:hover {
  background-position: 0 0;
  color:#fff;
}

.main_button{
  cursor: pointer;
  width:180px;
  height:50px;
  font-size: 18px;
  background-color: #ffffff;
  border: none;
}
