
#main p{
  color: #cc1b00;
}


#main{
  padding: 40px;
  width: 600px;
  background-color: #fff3bf;
  text-align: center;
  font-family: sans-serif;
  display: block;
  font-size: 15px;
}
