#main p{
  color: #A52A2A;
}


#main{
  padding: 40px;
  width: 600px;
  background-color: #fff;
  text-align: center;
  font-family: sans-serif;
  display: block;
  font-size: 15px;
  border-radius: 20px;
  border: solid 1px #202125;
}
