<mat-dialog-content class="mat-typography">
  <div *ngIf="!yesAddVictim && !yesAddSuspect">
    <div id="text">First you need to add all the victims, then the suspects, to do this, click Ok, after that click Ready</div>
<input type="submit" value="Ок" (click)="addVictimInput()">
<button mat-button [mat-dialog-close]="true"  value="Close" >Close</button>
  </div>


  <div class="table-wrapper" *ngIf="yesAddVictim">
    <h1><b>Adding victims</b></h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
        <tr>
          <th>vision.id</th>
          <th>person.id</th>
          <th></th>
        </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>

        <tr *ngFor="let visionVictiml of visionVictimList; let i = index">
          <td>{{visionVictiml.vision_id}}</td>
          <td><input  type="number"  required minlength="1" min="1" id="person_id" name="person_id" [(ngModel)]="visionVictiml.victim_id">
          </td>
          <input type="submit" value="Add" (click)="createVictim(i, visionVictiml.victim_id)">
        </tbody>
      </table>
    </div>
    <input type="submit" value="Готово" (click)="addSuspectInput()">

  </div>

  <div id="table-wrapper" *ngIf="yesAddSuspect">
    Введите подозреваемых к каждому видению:
    <div id="table-scroll">
      <table id="tableWithVisions">
        <tr>
          <th>vision.id</th>
          <th>person_id</th>
          <th>mentally_disturbed</th>
          <th>weapon</th>
        </tr>
        <tbody>

        <tr *ngFor="let visionSuspectl of visionSuspectList; let i = index">
          <td>{{visionSuspectl.vision_id}}</td>
          <td><input  type="number"  required minlength="1" min="1" id="p_id" name="numberOfVictims" [(ngModel)]="visionSuspectl.person_id">
          </td>

          <td><select name="mentally_disturbed" [(ngModel)]="visionSuspectl.mentally_disturbed" >
            <option value="false" selected>false</option>
            <option value="true">true</option>
          </select></td>
          <td><select name="murder_weapon" [(ngModel)]="visionSuspectl.weapon"  >
            <option value="firearm" selected="selected">firearm</option>
            <option value="cold_steel">cold_steel</option>
            <option value="household_objects">household_objects</option>
            <option value="accidental_weapon">accidental_weapon</option>
            <option value="poison">poison</option>
            <option value="air_shutoff">air_shutoff</option>
            <option value="temperature">temperature</option>
            <option value="electric_current">electric_current</option>
            <option value="environment">environment</option>
            <option value="vehicle">vehicle</option>
            <option value="explosive">explosive</option>
          </select></td>
          <input type="submit" value="Add" (click)="createSuspect(i, visionSuspectl.person_id, visionSuspectl.mentally_disturbed, visionSuspectl.weapon)">
        </tbody>
      </table>
    </div>

    <div *ngIf="!isCreateSuspectVictim">
      <input type="submit" value="Готово" (click)="createSuspectVictim()">
    </div>

    <div *ngIf="isCreateSuspectVictim">
      <button mat-button [mat-dialog-close]="true"  value="Закрыть" >Закрыть</button>
    </div>

  </div>
</mat-dialog-content>
