<p>get-persons works!</p>
<mat-dialog-content class="mat-typography">
  <div id="table-wrapper">
    <div id="table-scroll">
      <table id="tableSeers">
        <tr>
          <th>ID</th>
          <th>dob</th>
          <th>пол</th>
          <th>имя</th>
        </tr>
        <tbody>
        <tr *ngFor="let person of personList">
          <td>{{person.id}}</td>
          <td>{{person.dob}}</td>
          <td>{{person.sex}}</td>
          <td>{{person.name}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</mat-dialog-content>
