<mat-dialog-content class="mat-typography">
  <section>
    <h1>People</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <th>ID</th>
          <th>dob</th>
          <th>пол</th>
          <th>имя</th>
        </tr>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr *ngFor="let person of personList">
          <td>{{person.id}}</td>
          <td>{{person.dob}}</td>
          <td>{{person.sex}}</td>
          <td>{{person.name}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </section>
</mat-dialog-content>
